<div Class="rz-p-0 rz-p-md-12">
    <ElliciumStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem" Class="rz-p-4 rz-mb-6 rz-border-radius-1" Style="border: var(--rz-grid-cell-border);">
        <ElliciumLabel Text="Variant:" />
        <ElliciumSelectBar @bind-Value="@variant" TextProperty="Text" ValueProperty="Value" Data="@(Enum.GetValues(typeof(Variant)).Cast<Variant>().Select(t => new { Text = $"{t}", Value = t }))" Size="ButtonSize.Small" Class="rz-display-none rz-display-xl-flex" />
        <ElliciumDropDown @bind-Value="@variant" TextProperty="Text" ValueProperty="Value" Data="@(Enum.GetValues(typeof(Variant)).Cast<Variant>().Select(t => new { Text = $"{t}", Value = t }))" Class="rz-display-inline-flex rz-display-xl-none" />
    </ElliciumStack>

    <ElliciumStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" JustifyContent="JustifyContent.Center" Wrap="FlexWrap.Wrap" Gap="1rem" Class="rz-p-sm-12">
        <ElliciumFormField Text="Card Number" Variant="@variant">
            <Start>
                <ElliciumIcon Icon="credit_card" />
            </Start>
            <ChildContent>
                <ElliciumMask Mask="**** **** **** ****" CharacterPattern="[0-9]" Placeholder="0000 0000 0000 0000" Name="CardNr" />
            </ChildContent>
            <Helper>
                <ElliciumText TextStyle="TextStyle.Caption">* required</ElliciumText>
            </Helper>
        </ElliciumFormField>
    </ElliciumStack>
</div>

@code {
    Variant variant = Variant.Outlined;
}