@using System.Linq
@using Microsoft.AspNetCore.Components.Forms
@using Ellicium
@inherits FormComponent<string>
@if (Visible)
{
    <div @ref="@Element" style=@Style @attributes="Attributes" class="@GetCssClass()" id="@GetId()">
        <div class="rz-helper-hidden-accessible">
            <input disabled="@Disabled" type="hidden" name="@Name">
        </div>
        <ElliciumStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" Gap="@Gap" Class="rz-security-code-wrapper">
            @foreach (var index in Enumerable.Range(1, Count))
            {
                @if (Type == SecurityCodeType.Password)
                {
                    <ElliciumPassword Value="@ElementAt(index - 1)" Disabled="@Disabled" AutoComplete="false" MaxLength="1" size="1" Class="rz-security-code-input" />
                }
                else
                {
                    <ElliciumTextBox Value="@ElementAt(index - 1)" Disabled="@Disabled" AutoComplete="false" MaxLength="1" size="1" Class="rz-security-code-input" />
                }
            }
        </ElliciumStack>
    </div>
}
